.center-text{text-align: center;}



// Margins

.marginTopSmallest{margin-top: .8rem;}
.marginTopSmall{margin-top: 2rem;}
.marginTopMedium{margin-top: 4rem;}
.marginTopBig{margin-top: 8rem;}

.marginBottomSmallest{margin-bottom: .8rem;}
.marginBottomSmall{margin-bottom: 2rem;}
.marginBottomMedium{margin-bottom: 4rem;}
.marginBottomBig{margin-bottom: 8rem;}

.marginLeftSmallest{margin-left: .8rem;}
.marginLeftSmall{margin-left: 2rem;}
.marginLeftMedium{margin-left: 4rem;}
.marginLeftBig{margin-left: 8rem;}

.marginRightSmallest{margin-right: .8rem;}
.marginRightSmall{margin-right: 2rem;}
.marginRightMedium{margin-right: 4rem;}
.marginRightBig{margin-right: 8rem;}



//Font-size

/*
    This are the new Fluid Typography. 
    you don't have to media query for fonts
    
*/

h1{
    font-size: clamp(6rem,calc(5vw + 1rem), 8rem);
}

h2{
    font-size: clamp(4rem,calc(5vw + .8rem), 6rem);
}

h3{
    font-size: clamp(3.5rem,calc(4vw + 1rem), 4.5rem);
}

h4{
    font-size: clamp(3rem,calc(3vw + 1rem), 4rem);
}

h5{
    font-size: clamp(2.5rem,calc(3vw + 1rem), 3.5rem);
}

h6{
    font-size: clamp(2.5rem,calc(3vw + 1rem), 3.5rem);
}






//Font-weight

.bold-text{font-weight: 700;}
.semi-bold-text{font-weight: 600;}
.normal-text{font-weight: 400;}
.light-text{font-weight: 300;}